@primary-accent-color: #FF0077;
@primary-accent-color-darkened: #cc005f;
@primary-accent-color-darker: #990047;
@primary-accent-color-lightened: #e65153;
@muted-text-color: #a1a1a1;
@about-section-background-color: #ffffff;
